.App {
  width: 100vw;
  max-width: 98vw;
  min-width: 900px;
  height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 1%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}
.navigation {
  width: 15%;
  min-width: 220px;
  height: 96%;
  max-width: 300px;
  display: flex;
  padding-top: 2%;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
}
.logos {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #373a40;
  padding-bottom: 3vh;
}
.img-logo {
  width: 60px;
  background-color: #eaeaeacf;
  border-radius: 5px;
  padding: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #112d4e;
  font-weight: bold;
  letter-spacing: 1px;
}
.navs {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.links1 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #142850;
  box-sizing: border-box;
  padding-left: 15px;
  transition: all 300ms;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.links1:hover {
  background-color: #164863;
  color: white;
}
#selected2:hover {
  background-color: #445069;
}
#selected {
  background-color: #0b314a;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav-user {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #445069;
}
.nav-user-info {
  width: 100%;
  gap: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #373a40;
  margin-bottom: 2vh;
}
.nav-user-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}
.nav-user-img {
  font-size: 2.5rem;
  width: 20%;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.kknhftb67 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}
.nav-user-name {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.nav-user-564 {
  font-size: 0.95rem;
  text-transform: uppercase;
  color: #138076;
}
.main-container {
  width: 82%;
  min-height: 96vh;
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2%;
  position: absolute;
  right: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.user-show {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.user-header {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #27374d;
}
.searcher {
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  font-size: 2rem;
  color: #27374d;
  left: 3px;
}
.searcher1 {
  width: 180px;
  height: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0.5px solid #27374d76;
  font-size: 0.9rem;
  color: #27374d;
  box-sizing: border-box;
  padding-left: 38px;
}
.filter-priv {
  cursor: pointer;
  width: 120px;
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0.5px solid #27374d76;
  border-left: none;
  font-size: 0.9rem;
  color: #27374d;
  box-sizing: border-box;
  padding-left: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.alert1 {
  width: 100%;
  color: red;
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: center;
}
.users-cont {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.user-list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.add-user-btn {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: #dde6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #27374d;
  cursor: pointer;
  transition: all 300ms;
}
.add-user-btn:hover {
  background-color: #526d82;
}
.add-icon {
  font-size: 1.2rem;
}
.conf12345 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000086;
  top: 0;
  right: 0;
  z-index: 99;
}
.conf-card12345 {
  width: 40%;
  height: fit-content;
  min-height: 140px;
  min-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.text1234567 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text12345 {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.ccclm5 {
  font-size: 2rem;
  color: #d14d72;
}
.llmo4 {
  font-size: 1rem;
}
.jjkl4 {
  width: 130px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
}
#confirm12345 {
  background-color: #d14d72;
  color: #fff;
}
#cancel12345 {
  background-color: #62d2a2;
  color: #fff;
}
.back {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  font-size: 1.7rem;
  border: none;
  border-radius: 50%;
  color: #0b314a;
}
.back:hover {
  color: #76300d;
}
.mokdfn6 {
  display: flex;
  gap: 20px;
}
.llpmo34 {
  color: #c57600;
}
.welco33 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wel44 {
  font-size: 1.8rem;
  color: #0b314a;
  font-weight: bold;
}
.wel55 {
  font-size: 1.1rem;
  color: #164863;
}
.tpact88 {
  font-weight: bolder;
  text-transform: uppercase;
  color: #138076;
}
.allr678 {
  width: 100%;
  font-size: 14px;
  color: #ae3a31;
  text-align: center;
}
.printi678 {
  width: fit-content;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #0b314a;
  box-sizing: border-box;
  color: #0b314a;
  padding-left: 15px;
  padding-right: 15px;
}
.ptrb567 {
  font-size: 1.2rem;
}
