.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.dash-stats {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.dash-card77 {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tit-dash1 {
  font-size: 0.95rem;
  text-transform: uppercase;
  color: #114f79;
}
.tit-dash2 {
  width: 80px;
  height: 25px;
  background-color: #8d38e8d1;
  color: #fff;
  border-radius: 5px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-actions {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 80px;
  position: relative;
  background-color: #f9f9f9;
}
.dash-aout {
  width: 30%;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1%;
}
.dash-names {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dsh876 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid silver;
}
.dsh8764 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #114f79;
}
.dsh11 {
  width: 10%;
  gap: 5px;
}
.dsh12 {
  width: 20%;
}
.dsh13 {
  width: 18%;
}
.dsh14 {
  width: 15%;
}
.dsh15 {
  width: 15%;
}
.dsh16 {
  width: 15%;
}
.dsh17 {
  width: 7%;
  border: none;
}
.childs44 {
  font-size: 0.95rem;
  color: #114f79;
  border: 1px solid #114f79;
  border-radius: 3px;
}
.actions-btn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 15px;
  gap: 20px;
}
.ddh-btn {
  width: 150px;
  height: 30px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border-radius: 3px;
}
.ddh-btn:disabled {
  cursor: default;
}
.valdsh1 {
  width: 250px;
  border: none;
  background-color: #399918;
  color: #fff;
}
.valdsh1:disabled {
  background-color: #3899189b;
}
.valdsh2 {
  border: 2px solid silver;
}
.hd5468 {
  color: #093450;
  font-weight: bold;
  border-bottom: 1px solid #093450;
}
.val-dsh55 {
  color: #399918;
}
.val-dsh555 {
  color: #c41e1e;
  cursor: pointer;
}
.nodata {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #2f9712;
}
.go-to44 {
  font-size: 1.5rem;
  color: #510970;
  cursor: pointer;
}
.kkfdyj665 {
  color: #c41e1e;
}
.req-list990 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}
.req-list9900 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.expand44 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  font-size: 1.3rem;
  border: none;
  border-radius: 50%;
  background-color: #093450;
  color: #fff;
}
