.employees {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
.user-show22 {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
}
.add-person {
  width: 100%;
  padding: 2%;
  display: flex;
  gap: 5%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.line11 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-lab1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ggv1 {
  width: 120px;
  color: #0b314a;
}
.person-input {
  width: 280px;
  height: 30px;
  padding-left: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid silver;
}
.line22 {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.conf33 {
  width: 60%;
  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.conf22 {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background-color: #0b314a;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nnt5 {
  font-size: 1.2rem;
}
.persons-list {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 15px;
}
.person-card {
  cursor: pointer;
  position: relative;
  width: 360px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2%;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  transition: 300ms all;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.person-card:hover {
  scale: 1.05;
}
.corp77 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 18px;
  display: flex;
  justify-content: center;
  padding: 2%;
  color: #fff;
  font-size: 0.9rem;
  border-bottom-left-radius: 10px;
}
.ggv449 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.full-name {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #195279;
}
.cin66 {
  color: #206492;
}
.ppr66 {
  color: #cc6532;
}
.grade33 {
  font-size: 0.95rem;
  text-transform: uppercase;
  color: rgb(87, 87, 87);
}
#adm {
  background-color: #4a249d97;
}
#med {
  background-color: #36ba99d7;
}
#par {
  background-color: #cc6532;
}
#nj8 {
  background-color: #0b314a;
}
#adm1 {
  border: 2px solid #4a249d97;
}
#med1 {
  border: 2px solid #36ba99d7;
}
#par1 {
  border: 2px solid #cc6532;
}
#nj81 {
  border: 2px solid #0b314a;
}
.cont-persons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  box-sizing: border-box;
  background-color: #ffffff6b;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.person22 {
  width: 450px;
  height: 650px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bfg1 {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  transition: all 300ms;
}
.bfg1:hover {
  background-color: #042a43;
  color: #fff;
}
.kklm6 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hhtb6 {
  width: 100%;
  height: 35px;
  border: 2px solid silver;
  border-radius: 5px;
  box-sizing: border-box;
  color: #042a43;
  padding-left: 15px;
}
.mmpr22 {
  font-size: 1rem;
  color: #0b314a;
  letter-spacing: 1px;
}
.cchk22 {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
}
.llpm1 {
  width: 120px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
#kklo4 {
  background-color: #19a950;
  color: #fff;
}
#kklo5 {
  background-color: #0b314a;
  color: #fff;
}
#kklo6 {
  background-color: #ea5050;
  color: #fff;
}
#kklo7 {
  border: 1px solid silver;
}
.ddt22 {
  font-size: 1.2rem;
}
.confirmation11 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.386);
  border-radius: 10px;
}
.conf-card {
  width: 40%;
  background-color: #fff;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  padding: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.conf-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conf-alert {
  font-size: 4rem;
  color: #c63d2f;
}
.conf-actions {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.conf-btn {
  box-sizing: border-box;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.conf-message {
  width: 80%;
  text-align: center;
  color: #074066;
  font-size: 1.1rem;
}
#conf-conf {
  background-color: #c63d2f;
}
#conf-cancel {
  border: 1px solid #042a43;
  color: #042a43;
}

/* ------------------------------------------- */

.person77 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}
.add-vac-form {
  position: relative;
  width: 100%;
  border-radius: 10px;
  min-height: fit-content;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vac-exit55 {
  position: absolute;
  right: 25px;
  top: 15px;
  height: 35px;
  width: 35px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #042a43;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
}
.vac-exit55:hover {
  color: #107bc3;
}
.khgjkfg4 {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
}
.jkezjf77 {
  text-align: center;
  font-size: 1.3rem;
  color: #042a43;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.radio-input-wrapper {
  width: 25%;
  min-width: 330px;
  padding-left: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
}
/* =============================================== */
.label {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 14px 16px;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.3s;
}
.label:hover,
.label:focus-within,
.label:active {
  background: #dcdcdc;
}
.radio-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}
.radio-design {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: linear-gradient(
    to right bottom,
    hsl(154, 97%, 62%),
    hsl(225, 97%, 62%)
  );
  position: relative;
}
.radio-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #dfdfdf;
  transform: scale(1.1);
  transition: 0.3s;
}
.radio-input:checked + .radio-design::before {
  transform: scale(0);
}
.label-text {
  color: #074066;
  margin-left: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.3s;
}
.radio-input:checked ~ .label-text {
  color: #195279;
}
.radio-input-wrapper1 {
  margin-left: 25px;
  padding-left: 5px;
  border-left: 1px solid silver;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mmpou5 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* -------------------------------------------------------- */
.insert-cong-new {
  width: 75%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2%;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 25px;
  column-gap: 4%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.group44 {
  position: relative;
  width: 48%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 5px;
}
.group445 {
  width: 48%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 6px;
}
.group444 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.lb-hh4 {
  font-size: 0.95rem;
  color: #000;
}
.input-vc44 {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  font-size: 0.9rem;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.dfgkjkfdgdkf4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
#input-vc44 {
  width: 49%;
}
.kklfkd5 {
  display: flex;
  gap: 2%;
}
.chack44 {
  width: 35px;
  height: 35px;
}

.input[type="checkbox"] {
  display: none;
}
.custom-checkbox {
  display: inline-block;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#jjk4 {
  background-color: #fff;
}
#jjk488 {
  background-color: #fff;
}
.kskl44 {
  font-size: 0.9rem;
  color: #195279;
  margin-left: 10px;
}
.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: linear-gradient(
    to right bottom,
    hsl(154, 97%, 62%),
    hsl(225, 97%, 62%)
  );
  border-radius: 2px;
  opacity: 0;
}
.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}
#kklo44 {
  text-align: center;
}
.sub44 {
  width: 48%;
  box-sizing: border-box;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #4f1787;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: all 300ms;
}
.sub44:hover {
  background-color: #5d3587;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sub44:disabled {
  background-color: #81758b;
}
#annlll44 {
  width: 23%;
  background-color: #f4f4f4;
  border: 1px solid #4f1787;
  color: #4f1787;
  transition: all 300ms;
}
#annlll44:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #394867;
  border: none;
  color: #fff;
}
.group44588 {
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.95rem;
  color: #536493;
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#hh2 {
  border-left: 8px solid #399918;
  background-color: #39991830;
}
#hh3 {
  border-left: 8px solid #c63c51;
  background-color: #c63c5130;
}
#hhkl44 {
  width: 100%;
  margin-top: 30px;
  justify-content: flex-end;
  gap: 4%;
}
#tot44 {
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  background: linear-gradient(
    to right bottom,
    hsl(180, 51%, 51%),
    hsl(225, 97%, 62%)
  );
  text-align: center;
  color: #fff;
}
.add-55 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: none;
  background: linear-gradient(
    to right bottom,
    hsl(180, 51%, 51%),
    hsl(225, 97%, 62%)
  );
  font-size: 1.5rem;
  color: #fff;
}
#kkli55 {
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#kkli66 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add-555 {
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: none;
  background: linear-gradient(
    to right bottom,
    hsl(180, 51%, 51%),
    hsl(225, 97%, 62%)
  );
  font-size: 1.5rem;
  color: #fff;
}

#kkli555 {
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(
    to right bottom,
    hsla(180, 51%, 51%, 0.497),
    hsla(225, 97%, 62%, 0.441)
  );
}
#kkli666 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(
    to right bottom,
    hsla(180, 51%, 51%, 0.497),
    hsla(225, 97%, 62%, 0.441)
  );
}
#mmojg55 {
  width: 100%;
}
.llkio55 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 7px;
  overflow: hidden;
}
.llmo595 {
  width: 110px;
  height: 35px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1b262c;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.llpn33 {
  background: linear-gradient(
    to right bottom,
    hsl(180, 51%, 51%),
    hsl(225, 97%, 62%)
  );
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  font-size: 0.95rem;
}
.minidash33 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 35px;
  font-size: 0.9rem;
  border-radius: 20px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #0b314a;
  border: 0.5px solid #27374d76;
}
.add4564 {
  font-size: 1.3rem;
}
.list-cong44 {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.kknh55 {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  color: #042a43;
}
#booldy {
  font-weight: bold;
  color: #074066;
  height: 60px;
}
#klo4 {
  border-radius: 0;
  cursor: pointer;
}
.suv-div44 {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.95rem;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid silver;
  color: #074066;
}
#S11 {
  width: 10%;
}
#S12 {
  width: 16%;
}
#S13 {
  width: 19%;
}
#S14 {
  width: 8%;
}
#S15 {
  width: 15%;
}
#S16 {
  width: 12%;
}
#S17 {
  width: 12%;
}
#S18 {
  width: 8%;
  border: none;
}
#vv10 {
  width: 100%;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}
.vv1 {
  background-color: #7b00fe94;
}
.vv2 {
  background-color: #8d493aac;
}
.vv3 {
  background-color: #e68269c5;
}
.vv4 {
  background-color: #088295c7;
}
.vv5 {
  background-color: #0f68b1c2;
}
.vv6 {
  background-color: #009dbdc9;
}

.nn1 {
  background-color: #05668dc0;
}
.nn2 {
  background-color: #028090b4;
}
.nn3 {
  background-color: #00a897b7;
}
.nn4 {
  background-color: #02c399a5;
}
.nn5 {
  background-color: #658147d2;
}
.nn6 {
  background-color: #389918b0;
}
.nn20 {
  background-color: #c7253daf;
}

.tgu44 {
  color: red;
}

.singleConj {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000005a;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cong-card44 {
  width: 850px;
  min-height: 400px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  position: relative;
  font-size: 0.95rem;
}
.wwv44 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}
.wwv55 {
  width: 60%;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 15px;
  padding-left: 35px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.bbk44 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6cd;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.kjyh5 {
  width: 60%;
  height: 50px;
  background-color: #c7253e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.cllb44 {
  font-size: 1.4rem;
}
.sv1 {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 0.95rem;
  border: none;
  cursor: default;
  letter-spacing: 0.5px;
  background-color: #399918;
  color: #fff;
}
.sv1:disabled {
  background-color: rgb(226, 226, 226);
  color: #494949;
}
.lopph4 {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: bold;
}
.vvbu1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bbklthk7 {
  background-color: #ee4e4e;
  padding: 3px;
  border-radius: 5px;
  color: #fff;
}
#hhj7 {
  background-color: #399918;
}
#hhj8 {
  background-color: #ee4e4e;
}
.stats44 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.stats-card {
  background-image: linear-gradient(
    270deg,
    hsl(267deg 75% 68%) 0%,
    hsl(266deg 76% 61%) 50%,
    hsl(267deg 77% 52%) 100%
  );
  width: 140px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card-nbr44 {
  width: 45px;
  height: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #7925e3;
}
.stat-year {
  font-size: 1.2rem;
  color: #fff;
}
#kkurv44 {
  width: 50%;
}
#llkiu44 {
  width: 210px;
  background-image: linear-gradient(
    90deg,
    hsl(117deg 100% 26%) 0%,
    hsl(114deg 100% 27%) 11%,
    hsl(112deg 100% 28%) 22%,
    hsl(110deg 99% 29%) 33%,
    hsl(109deg 99% 30%) 44%,
    hsl(107deg 99% 31%) 56%,
    hsl(106deg 99% 32%) 67%,
    hsl(105deg 100% 33%) 78%,
    hsl(104deg 100% 34%) 89%,
    hsl(103deg 100% 35%) 100%
  );
}
#kkbyr44 {
  color: #0a8700;
}
