.print55 {
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-print {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30mm;
}
.print-h1 {
  width: 40%;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.print-logo {
  width: 25mm;
}
.des-print {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: 2px;
  border-bottom: 1px solid silver;
  position: relative;
  padding-bottom: 5px;
}
.n-con66 {
  position: absolute;
  left: 0;
  font-size: 12px;
  font-weight: normal;
}
.deleg66 {
  font-size: 16px;
  color: #212121;
}
