.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.header88 {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid silver;
}
.nom88 {
  font-size: 1.3rem;
  color: #112d4e;
  font-weight: bold;
  text-transform: uppercase;
}
.typeacc88 {
  height: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.typecomp88 {
  font-size: 0.95rem;
  color: #353535;
}
.tp89 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
#type88 {
  background-color: #1a5319;
}
#type89 {
  background-color: #005c78;
}

.main099 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid silver;
  box-sizing: border-box;
  padding: 1rem;
}
.sub-lb099 {
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 3rem;
  border-bottom: 1px solid silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h099 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}
.lb099 {
  width: 45%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#lb099 {
  width: 70%;
}
.hjbtu099 {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.inp099 {
  width: 20rem;
  height: 1.7rem;
  border: 1px solid silver;
  border-radius: 5px;
  padding-inline: 15px;
}
.inp099:disabled {
  color: #000;
}
#lb099 {
  width: 10rem;
}
.anct-099 {
  display: flex;
  gap: 2rem;
}
.act-o099 {
  width: 7rem;
  height: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 7px;
  border: 2px solid silver;
}
.mr099 {
  margin-top: 3rem;
}
.mr088 {
  margin-top: 1rem;
}

.lb099 label {
  color: #313131;
}
.ed334 {
  background-color: #005c78;
  color: #fff;
  border: none;
}
.kl334 {
  background-color: #fff;
}
.rd334 {
  background-color: #005c78;
  color: #fff;
  border: none;
}
