.vacations {
  width: 100%;
  box-sizing: border-box;
}
.react-calendar__navigation {
  display: none;
}
.react-calendar__month-view__days {
  display: none;
}
abbr {
  text-decoration: none;
  border-bottom: none;
}
.react-calendar__month-view__weekdays__weekday {
  color: #074976;
}
.calendar-month {
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.month-name {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #042a43;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.react-calendar {
  border: none;
}
.react-calendar__tile--weekend {
  background-color: #dfd3c3;
  z-index: 99;
}
.react-calendar__tile.react-calendar__tile--weekend {
  color: #042a4394;
  z-index: 0;
}
.react-calendar__tile--now {
  background-color: #252a34;
  color: #fff;
}
.react-calendar__tile--now:hover {
  background-color: #532100 !;
}
.vacations-show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
  box-sizing: border-box;
}
.vac-list {
  width: 15%;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.vac-list > div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.calendar-grid {
  width: 84%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}
.kklr5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.react-calendar__tile--holiday {
  background-color: #495464;
  color: white;
}
.bnk123 {
  width: 100%;
  height: 80px;
  background-color: #495464;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5%;
  color: #fff;
  transition: all 300ms;
  cursor: pointer;
}
.bnk1234 {
  width: 100%;
  height: 80px;
  background-color: #495464;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5%;
  color: #d35848ca;
}
.bnk123:hover {
  scale: 1.05;
}
.hklh12 {
  width: 100%;
  margin-bottom: 5px;
}
.vc1234 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star-vc {
  font-size: 0.8rem;
  margin-left: 5px;
}
.dure11 {
  background-color: #fff;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  color: black;
}
#servh1255 {
  background-color: #f3f3f3;
  text-align: center;
  padding: 0;
}
.add-vac {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 15px;
  border: 1px solid silver;
  margin-top: 40px;
}
.fgigtg5 {
  width: 300px;
  left: 45px;
  position: absolute;
  top: -42px;
  font-size: 1.1rem;
  color: #042a43;
  background-color: #fff;
  padding: 10px;
  border: 1px solid silver;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: underline;
}
.add-vc33 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.add-vc333 {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  align-items: flex-end;
}
.vc-lb {
  font-size: 1rem;
  color: #042a43;
}
.vc-inp {
  box-sizing: border-box;
  max-width: 400px;
  height: 35px;
  border: 1px solid #042a43;
  border-radius: 5px;
  padding-left: 15px;
}
.add-vc {
  box-sizing: border-box;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  letter-spacing: 1px;
  border: none;
}
#add-vc {
  background-color: #042a43;
  color: #fff;
}
#can-vc {
  border: 1px solid gray;
}
.bdkhu5 {
  width: 100%;
  font-size: 0.8rem;
  color: #b65310;
}
.exit66 {
  box-sizing: border-box;
  position: absolute;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#add-vc1233 {
  background-color: #016a70;
  color: #fff;
}
#add-vc654 {
  background-color: #3c5b6f;
  color: #fff;
}
#can-vc4sdds876 {
  background-color: #c63d2f;
  color: #fff;
}
.user-list-header19 {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
#jjngh554 {
  width: 75%;
}
